<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Oehotin</title>
    </head>
</head>
    </head>
    <body>
        <div th:fragment="nav">
             <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                 <a th:href="@{/omasivu}">Home</a>
        </nav>
        </div>
        
        
        <div th:fragment="search">
            <form th:action="@{/search}"method="GET">                          
                <input  type="text" placeholder="Type name or press search" name="search" id="search" />
                 <input type="submit" value="Search"/>                          
            </form>
        </div>
        

        <div th:fragment="footer">
            
            <div class="jumbotron text-center" style="margin-bottom:0">


                <footer>
                    <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout"></input>
                    </form>
                </footer>
            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </div>
        

    </body>
</html>

<!--
Muokkaa sovelluksessa olevaa form2.html-tiedostoa siten, että se sisältää 
samanlaisen lomakkeen kuin form1.html-tiedosto, mutta lomakkeen tyylit on 
määritelty Bootstrapin avulla.
-->