<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Oehotin')">
        <meta charset="UTF-8" />
        <title>title</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: nav"></div>
        
        <div class="container">
            
            
            <div class="jumbotron text-center">
                <h1><i class="fas fa-crow"></i> Oehotin</h1>
            </div>
            
            <div class="row">

                <div class="col-md-3">

                </div>

                <div class="col-md-6">
                    <p>This web-application was first made for Helsinki University web-server programming course.
                    After that I have incorporated new things I have learned to it.</p>
                    <p>This is build with Netbeans and its backend is mostly Java. Other used technologies: Thymeleaf, Maven, JS, CSS, HTML and Bootstrap.</p>
                    <p>Teemu-Petteri Remes</p>
                    <p>teemu.petteri.remes@gmail.com</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
         <div th:replace="fragments/layout :: footer"></div>
    </body>
</html>
