<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
     <head th:replace="fragments/layout :: head(title='Oehotin')">
    </head>
    <body>
        <div th:replace="fragments/layout :: nav"></div>
        <div class="container">
              
        <div th:replace="fragments/layout :: jumbotron"></div> 
      
        
        <!--
       <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
           <p> </p>
        </nav>
        -->
       
        
       
            <div class="row">
    
                <div class="col-sm-3">
                </div>    
        
                <div class="col-sm-6" > 
                 <h2>Sign in!</h2>
                
                <div>
                    <form method="POST" th:action="@{/login}">
                        <p th:if="${param.error}">Invalid username or password. Please try again.</p>
                        <p th:if="${param.logout}">You have logged out.</p>

                        <div class="form-group">
                          <label for="usernamee">Username</label>
                        <input class="form-control" id="usernamee" placeholder="Username" name="username" type="text" />
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Password</label>
                        <input class="form-control" id="password" placeholder="Password" name="password" type="password" />
                        </div>
                        <!--<button  id="submit_login" value="Log in" type="submit" >wanha</button>-->
                         <button type="submit" class="btn btn-default" value="Log in"><i class="fa fa-user"></i> Submit</button>
                        <br></br> 
                        <p>Don't have an account yet? <a th:href="@{/register}"><i class="fa fa-user-plus"></i> Register!</a></p>
                    </form>
                    
                   
                        
                 
                </div>
                </div>
                <div class="col-sm-3">
                </div>  
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
         <!--<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>-->
      <!--  <script th:src="@{/javascript/oehotin.js}" type="text/javascript"></script> -->
    </body>
</html>