
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Oehotin')">
        <meta charset="UTF-8" />
        <title>title</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: nav"></div>
        
        <div class="container">
            
            <div class="jumbotron text-center">

                <h1><i class="fas fa-crow"></i> Oehotin</h1>
                <h2 th:text="${'Hello ' + message +'!'}">ToDO write content</h2>

            </div>
        
        
        
        

        <div class="row">

            <div class="col-md-3">
                <h2>About Me</h2>
                <h5>Photo of me:</h5>
                <div th:if="${profilepic != null}">
                    <div class="card"> <img th:src="@{/omasivu/{id}/content(id=${profilepic})}" class="card-img-top" alt="Profile picture"/></div>
                </div>
                <br>
                <hr>
                <br>    
                <div>
                   <h3> Seurataan</h3>
                   <ol>
                        <li th:each="seuraaja : ${seurattavat}">
                            <a th:href="@{/{handle}/toisensivu (handle=${seuraaja.username})}"> 
                                <span th:text="${seuraaja.username}">msg</span>
                            </a>
                        </li>
                  </ol>
                </div>

            </div>
    
            <div class="col-md-6">
            <h2>My Pictures! (<span th:text="${count}">count</span> images)</h2>
     
            <ol>
                <li th:each="picture : ${pictures}">
                        <div class="card border-0"> 
                            <a th:href="@{/omasivu/{id}/picture(id=${picture.id})}">
                            <img th:src="@{/omasivu/{id}/content(id=${picture.id})}" class="card-img-top"/> 
                        </a>
                        
                        
                        <p><i class="far fa-heart"></i> Likes: <span th:text="${picture.likes}">msg</span></p>
                            <p th:text="${picture.story}">story</p>    
                       
                        <a th:href="@{/omasivu/{id}/picture(id=${picture.id})}">See comments</a>
                        <br></br>
                        
                        <form method="POST" th:action="@{/messages/{id} (id=${picture.id})}">
                            <div class="form-group">
                            <input class="form-control" type="text" name="content" id="message"/>
                            <button type="submit" class="btn btn-default" value="Add comment!">Add comment!</button>
                            </div>
                        </form> 
                        <hr>
                        </div>
                </li>
            </ol>
            

    </div>

        <div class="col-md-3">
        
            <h2>Add new picture and story!</h2>

            <form method="POST" th:action="@{/{handle}/omasivu (handle=${message}) }" enctype="multipart/form-data">
                <div class="form-group"> 
                    <label class="custom-file-upload">   
                     <input class="btn btn-default" type="file" name="file" id="file"/>
                    Choose picture
                    </label>    
                </div>
                 
                <div class="form-group"> 
                    <input class="form-control" type="text" name="story" id="story" placeholder="Story goes here"/>
                </div>    
                
                <button type="submit" class="btn btn-default">Add!</button>
                    
            </form>
            <!--
                       
                        <div class="form-group">
                          <label for="usernamee">Username</label>
                        <input class="form-control" id="usernamee" placeholder="Username" name="username" type="text" />
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Password</label>
                        <input class="form-control" id="password" placeholder="Password" name="password" type="password" />
                        </div>
                        
                         <button type="submit" class="btn btn-default" value="Log in">Submit</button>
                        
                        </form>
                        -->
                        <br>
                        <hr>
                        <br>
            <div th:replace="fragments/layout :: search"></div>


        </div>
    </div>
</div>

        <div th:replace="fragments/layout :: footer"></div>
        
    </body>
</html>
