<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
     <head th:replace="fragments/layout :: head(title='Picture')">
        <meta charset="UTF-8" />
        <title>title</title>
    </head>
    <body>
        <div th:replace="fragments/layout :: nav"></div>
        
        <div class="container">
       <div class="jumbotron text-center">
            
            <h1><i class="fas fa-crow"></i> Oehotin</h1>
            
           
        </div>
        
        
        
        

    <div class="row">
    
        <div class="col-md-3">
            
        </div>
      
        <div class="col-md-6">
            
            <h2>Picture</h2>
                        <form method="POST" th:action="@{/{handle}/profiilikuva/{id} (handle=${message},(id=${picture.id}) ) }">                  
                            <button class="btn btn-default" type="submit">Set as profile picture</button> 
                        </form>
                        
                            <div class="card border-0"> 
                                
                                <img th:src="@{/omasivu/{id}/content(id=${picture.id})}" class="card-img-top"/> 
                        
                        
                        <p>Likes: <span th:text="${picture.likes}">msg</span></p>
                            <p th:text="${picture.story}">story</p>    
                       
                        <ol>
                            
                            <li th:each="message : ${messages}" th:if="${message.pictureId == picture.id}">
                               
                                      <span th:text="${ message.user.username + ': ' + message.content}">msg</span>
                                     
                            </li>
                        </ol>
                           
                        <form method="POST" th:action="@{/messages/{id} (id=${picture.id})}" style="margin-top:10px">
                            <input type="text" name="content" id="message"/>
                            <input type="submit" value="Add comment!"/>
                        </form>
                            
                           <form method="POST" th:action="@{/omasivu/{id}/picture (id=${picture.id})}" style="margin-top:10px">
                            
                            <input type="submit" value="Delete"/>
                        </form>
                         
                    </div>
              
           
            

    </div>

        <div class="col-md-3">
        <!--
            <h2>Add new picture and story!</h2>

            <form method="POST" th:action="@{/{handle}/omasivu (handle=${message}) }" enctype="multipart/form-data">
                <input type="file" name="file" id="file" placeholder="Select file"/>
               <input type="text" name="story" id="story" placeholder="Story goes here"/> 
                <input type="submit" value="Add!"/>
            </form>
            
            <br></br>
            <div th:replace="fragments/layout :: search"></div>

        -->
        </div>
    </div>
</div>

        <div th:replace="fragments/layout :: footer"></div>
        
    </body>
</html>
