
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head">
        <meta charset="UTF-8" />
        <title>TODO supply a title</title>
    </head>
    <body>
        
        <div class="jumbotron text-center" style="margin-bottom:0">
            
            <h1>Oehotin</h1>
            <h2 th:text="${'This is page belongs to ' + message +'!'}">ToDO write content<h/2>
           
        </div>
        
        <div th:replace="fragments/layout :: nav"></div>
        
        
<div class="container" style="margin-top:30px">
     <div class="row">
    
        <div class="col-sm-3">
        
    
    
   
         
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div th:if="${profilepic != null}">
           <img th:src="@{/omasivu/{id}/content(id=${profilepic})}" alt="Profile picture" height="200" width="200"/>
      </div>
      
      <form method="POST" th:action="@{/{handle}/seuraa (handle=${message} ) }">
                            <input type="submit" value="Follow"/>
      </form>
    </div>
      
    
    
    <div class="col-6">
            <h2>My Pictures! (<span th:text="${count}">count</span> images)</h2>
    
            <ol>
                <li th:each="picture : ${pictures}">
                        <span>
                            <img th:src="@{/omasivu/{id}/content(id=${picture.id})}" height="300" width="300"/> 
                        </span>
                    <div><p>Likes: <span th:text="${picture.likes}">msg</span></p>
                    <form method="POST" th:action="@{/{handle}/likes/{id}  (handle=${message},id=${picture.id}) }">
                            <input type="submit" value="Add more Like!"/>
                    </form></div>
                   
                        <ol>
                            
                            <li th:each="message : ${messages}" th:if="${message.pictureId == picture.id}">
                               
                                      <span th:text="${ message.user.username + ': ' + message.content}">msg</span>
                                     
                            </li>
                        </ol>
                        <form method="POST" th:action="@{/{handle}/messages/{id}  (handle=${message},(id=${picture.id}) ) }">
                            <input type="text" name="content"/>
                            <input type="submit" value="Add comment!"/>
                        </form>
                   
                </li>
            </ol>
            

    </div>

    <div class="col-3">
       
        <form th:action="@{/search}"method="GET">                          
                <input  type="text" placeholder="Type name or press search" name="search" id="search" />
                <button   type="submit">Search user</button>                           
            </form>
        
    </div>
     </div>
</div>

        <div th:replace="fragments/layout :: footer"></div>
    </body>
</html>
